<h2 id="gouvernance">La Gouvernance</h2>
<p>
  "La Fumainerie est aujourd'hui animée par 9 membres bénévoles : la collégiale de La Fumainerie.<br>
  En tant qu'association loi 1901, nous avons l'ambition de travailler au développement d'un modèle plus démocratique
  et plus transparent sur la question de l'assainissement collectif où l’usager deviendrait acteur/décideur dans la
  gestion de ses excrétions et se verrait donner le choix de limiter son utilisation d’eau potable pour ses toilettes.
  L'ensemble des usagers du réseau et les parties prenantes peuvent adhérer à l'association et ont ainsi la possibilité de s'exprimer. "
</p>
<mat-card class="mat-parent">
  <carousel>
    <div class="carousel-inner" align="center" role="listbox">
      <slide>
        <div class="carousel-item" style="display: block; width: 100%;">
          <div class="col-md-3">
            <app-card [userCard]='users[0]'></app-card>
          </div>
          <div class="col-md-3">
            <app-card [userCard]='users[1]'></app-card>
          </div>
          <div class="col-md-3">
            <app-card [userCard]='users[2]'></app-card>
          </div>
          <div class="col-md-3">
            <app-card [userCard]='users[3]'></app-card>
          </div>
        </div>
      </slide>
      <slide>
        <div class="carousel-item" style="display: block; width: 100%;">
          <div class="col-md-3">
            <app-card [userCard]='users[4]'></app-card>
          </div>
          <div class="col-md-3">
            <app-card [userCard]='users[5]'></app-card>
          </div>
          <div class="col-md-3">
            <app-card [userCard]='users[6]'></app-card>
          </div>
          <div class="col-md-3">
            <app-card [userCard]='users[7]'></app-card>
          </div>
        </div>
      </slide>
      <slide>
        <div class="carousel-item" style="display: block; width: 100%;">
          <div class="col-md-3">
            <app-card [userCard]='users[8]'></app-card>
          </div>
          <div class="col-md-3">
            <app-card [userCard]='users[9]'></app-card>
          </div>
          <div class="col-md-3">
            <app-card [userCard]='users[10]'></app-card>
          </div>
          <div class="col-md-3">
            <app-card [userCard]='users[11]'></app-card>
          </div>
        </div>
      </slide>
    </div>
  </carousel>
</mat-card>

<!--/*for mobile and small  devices */-->
<mat-card class="mat-parent-small">
  <carousel>
    <slide *ngFor="let user of users">
      <app-card [userCard]='user'></app-card>
    </slide>
  </carousel>
</mat-card>
