@import './../../../../../assets/css/fumainerie-theme.scss';


.container{
  display: flex;
  flex-direction: column;
  .drainingsUndone, .drainingsDone{
    background-color: white;
    box-shadow: $box-shadow;
    width: 80%;
    margin-left: 10%;
    padding: 3vh;
    overflow: scroll;
    .client{
      display: flex;
      justify-content: space-around;
    }
  }
  .One{
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-around;
    .detail_vidange{
      span{
        text-decoration: underline;
      }
    }
  }
}
.lexique{
  width: 20vw;
  height: 4vh;
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: space-around;
  margin-left: 10%;
  p{
    padding-top: 2px;
    font-size: 1vw;
  }
  .couleur{
    width: 3vw;
    height: 2vh;
    background-color: rebeccapurple;
  }
}
