body{
  height: 100%;
}
.box-essai{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.essai{
  color: white;
  height: auto;
  width: 40%;
  background-color: darkblue;
  margin: 15px;
  display: flex;
  text-align: center;
  align-items: center;
}
