
<div class="navvbar">

  <div>
    <img src="../../../../assets/images/Logo 2.png" alt="Logo de la fumainerie">
  </div>

    <ul>
      <a href="#"><li>Le projet</li></a>
      <a href="#"><li>La gouvernance</li></a>
      <a routerLink="/actualites"><li>Les actualités</li></a>
      <a routerLink="/ressources"><li>Ressources documentaires</li></a>
      <a href="#contact"><li>Contactez-nous</li></a>
      <a routerLink="/connexion"><button>Se Connecter</button></a>
    </ul>

</div>

<div id="contact">
</div>
