.navvbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.1em;
  align-items: flex-end;
  border-bottom: 1px solid black;
}
ul{
  display: flex;
  flex-direction: row;
  padding-inline-start: 0px;
  height: 5vw;
  align-items: center;
  margin: 0px;
  li{
    list-style-type: none;
    margin-left: 2vw;
  }
}
li:hover{
  background-color: #fde773;
  text-decoration: underline;
  box-shadow: 0 0 0.2em 0.5em #fde773;
}
img{
  height: 30vh;
}
button{
  background-color: #fde773;
  color: black;
  font-weight: 600;
  margin-left: 2vw;
  border: none;
  border-radius: 15px;
}
button:hover{
  background-color: #fde773;
  box-shadow: 0 0 0em 0.5em #fde773;
  color: black;
}
a{
  color: black;
}

.parallax {
  /* The image used */
  background-image: url("../../../../assets/image-en-construction.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
