
<div class="navvbar">

  <div>
    <img src="../../../../assets/images/Logo 2.png" alt="Logo de la fumainerie">
  </div>

    <ul>
      <a href="#"><li>Le projet</li></a>
      <a href="#"><li>La gouvernance</li></a>
      <a href="#"><li>Les actualités</li></a>
      <a href="#"><li>Ressources documentaires</li></a>
      <a href="#contact"><li>Contactez-nous</li></a>
      <a href="#"><button>Se Connecter</button></a>
    </ul>

</div>

<div id="contact">
  <app-contact></app-contact>
</div>
