.navvbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.5em;
  align-items: flex-end;
  border-bottom: 1px solid #83B222;
  background-color: #c2ee6b;
}

ul{
  display: flex;
  flex-direction: row;
  padding-inline-start: 0px;
  height: 5vw;
  align-items: center;
  margin: 0px;
  li{
    list-style-type: none;
    margin-left: 2vw;
  }
}
li:hover{
  background-color: #ffff73;
  text-decoration: underline;
  box-shadow: 0 0 0.2em 0.5em #ffff73
}
img{
  height: 30vh;
}
button{
  background-color: #8bca58;
  color: black;
  font-weight: 600;
  margin-left: 2vw;
  border: none;
  box-shadow: 0 0 0em 0.5em #8bca58;
}
button:hover{
  background-color: #ffff73;
  box-shadow: 0 0 0em 0.5em #ffff73;
  color: black;
}
