<button *ngIf="(currentDateString.localeCompare(nextDraining?.session_date)===1 ? false : true)  && emergency.length&lt;1" (click)="sendEmergency()" class="drainingEmergency">URGENCE VIDANGE</button>
<div *ngIf="drainingFormRequest && emergency.length&lt;1 && !isRequestAlreadyCreate "  class="formulaire">
  <h3 *ngIf="nextDraining?.session_date"> Vous pouvez programmer une vidange en avance.</h3>

  <div class="request">

    <form [formGroup]="drainingFormRequest">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="session_date" [matDatepicker]="picker" placeholder="Choisissez une date">
        <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>

      <mat-radio-group color="primary" class="example-radio-group" formControlName="slot_id">
        <mat-radio-button class="example-radio-button radio" *ngFor="let slot of slotData" [value]="slot">
          {{slot.name}}
        </mat-radio-button>
      </mat-radio-group>

      <button *ngIf="arrayDrainingRequest.length&lt;3" (click)="addRequest(drainingFormRequest.value)">Ajouter</button>

      <div class="demande" *ngIf="arrayDrainingRequest.length&gt;0">

        <ul *ngIf="arrayDrainingRequest.length&gt;0">
          <li><span>Demande n°1:</span> Le {{arrayDrainingRequest[0].session_date | date: 'fullDate':'fr'}} {{arrayDrainingRequest[0].name}}</li>
          <li *ngIf="arrayDrainingRequest.length&gt;1"> <span>Demande n°2:</span> Le {{arrayDrainingRequest[1].session_date | date: 'fullDate':'fr'}} {{arrayDrainingRequest[1].name}}</li>
          <li *ngIf="arrayDrainingRequest.length&gt;2"><span>Demande n°3:</span> Le {{arrayDrainingRequest[2].session_date | date: 'fullDate':'fr'}} {{arrayDrainingRequest[2].name}}</li>
        </ul>

        <button *ngIf="arrayDrainingRequest.length &gt;0" (click)="submit()">Valider</button>
      </div>
    </form>


  </div>
</div>

<div *ngIf="nextDraining?.session_date" class="nextDraining">
  <h3>Prochaine vidange prévue le {{nextDraining.session_date | date: 'fullDate':'fr'}} durant le creneau {{nextDraining.name}}</h3>
</div>

<h2 class="emergency" *ngIf="emergency.length&gt;0">Urgence prise en compte. <br> Un vidangeur vas vous contactez rapidement.</h2>

<div class="drainingRequest">
  <h3>Demande en cours</h3>
  <p *ngIf="allDrainingRequest.length === 0">Pas de demande en cours.</p>
  <div class="allDrainingRequest" *ngFor="let draining of allDrainingRequest">
    <p>{{draining.session_date | date: 'fullDate':'fr'}}</p>
    <p>{{draining.name}}</p>
  </div>


  <div *ngIf="allDraining.length&gt;0 " >
    <div *ngFor="let draining of allDraining" class="clickDetail">
      <p class="allDrainingForCurrentUser" (click)="openDetailsDraining(draining)">{{draining.session_date | date: 'fullDate':'fr'}}</p>

      <div class="detail" *ngIf="draining.show" (click)="!draining.show">
        <div class="table">
          <p><span>Commentaire</span></p>
          <p>{{draining.comments}}</p>
        </div>
        <div class="table">
          <p><span>Poids vidange</span></p>
          <p>{{draining.weight}} kg</p>
        </div>
        <div class="table">
          <p><span>Quantité sciure récupérée</span></p>
          <p>{{draining.sawdust_weight}} kg</p>
        </div>
      </div>

    </div>
</div>
</div>
