@import './../../../../assets/css/fumainerie-theme.scss';

img #imgCard{
  width: calc(100% + 32px);
  margin: 0 -16px 16px -16px;
  margin-top: 0px;
  min-height: 1200px;
}

.example-card {
  box-shadow: $box-shadow;
  border-radius: $br;
  p {
    opacity: 0%;
    padding-bottom: 0px;
  }
}

.example-card:hover{
  p {
    transition: 1s;
    opacity: 100%;
    font-weight: bold;
  }
}

.details {
  height: 95px;
}

.citation {
  height: 20px;
}

@media only screen and (max-width: 990px) {
  #imgCard{
    max-height: 400px;
    width: auto;
  }
}

/*for ipad and other lage tabs*/
@media only screen and (max-width: 768px) {

  #imgCard{
    max-height: 400px;
    width: auto;
  }
}

/*for mobile devices*/
@media only screen and (max-width: 500px) {
  #imgCard{
    max-height: 300px;
    width: auto;
  }
}
