@import './../../../../assets/css/fumainerie-theme.scss';

.example-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 50px 0 50px 0;
  box-shadow: $box-shadow;
}

.example-container > * {
  width: 80%;
  margin: auto;
}

button {
  width: 80px;
  margin: 30px 5px 0 5px;
}

.imgContainer {
  margin-right: 50px;
  margin-left: auto;
}

img {
  float: right;
  width: 18px;
}
