<form [formGroup]="questionForm" (ngSubmit)="onSubmitQuestionForm()">
  <div class="example-container">
    <div class="imgContainer">
      <img src="../../../../../../assets/images/close.png" (click)="onClose()" />
    </div>
    <mat-form-field>
      <input matInput placeholder="Sujet" type="text" formControlName='topic' />
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Quelle est votre question?" formControlName='question'>
      </textarea>
    </mat-form-field>

    <div class="container">
      <button mat-flat-button type="button" (click)="resetForm()">Effacer</button>
      <button mat-flat-button type="submit" [disabled]="!questionForm.valid">Envoyer</button>
    </div>
  </div>
</form>
