<form [formGroup]="validationUserForm">
  <mat-form-field>
    <input
    matInput
    placeholder="Date de naissance"
    type="date"
    formControlName='birth_date'
    >
  </mat-form-field>
  <div *ngIf="validationUserForm.get('birth_date').errors && !validationUserForm.get('birth_date').pristine" class="error">
    <div [hidden]="!validationUserForm.get('birth_date').errors.required">Ce champ est requis.</div>
  </div>

  <mat-form-field>
    <input
    matInput
    placeholder="Téléphone"
    type="text"
    formControlName='phone'
    >
  </mat-form-field>
  <div *ngIf="validationUserForm.get('phone').errors && !validationUserForm.get('phone').pristine" class="error">
    <div [hidden]="!validationUserForm.get('phone').errors.required">Ce champ est requis.</div>
  </div>
</form>

<form [formGroup]="validationHomeForm" >

  <mat-form-field>
    <input
    matInput
    placeholder="Type de logement"
    type="text"
    formControlName='type'
    >
  </mat-form-field>
  <div *ngIf="validationHomeForm.get('type').errors && !validationHomeForm.get('type').pristine" class="error">
    <div [hidden]="!validationHomeForm.get('type').errors.required">Ce champ est requis.</div>
  </div>

  <mat-form-field>
    <input
    matInput
    placeholder="Adresse"
    type="text"
    formControlName='adress'
    >
  </mat-form-field>
  <div *ngIf="validationHomeForm.get('adress').errors && !validationHomeForm.get('adress').pristine" class="error">
    <div [hidden]="!validationHomeForm.get('adress').errors.required">Ce champ est requis.</div>
  </div>

  <mat-form-field>
    <input
    matInput
    placeholder="Complément d'adresse"
    type="text"
    formControlName='adress_plus'
    />
  </mat-form-field>
  <div *ngIf="validationHomeForm.get('adress_plus').errors && !validationHomeForm.get('adress_plus').pristine" class="error">
    <div [hidden]="!validationHomeForm.get('adress_plus').errors.required">Ce champ est requis.</div>

  </div>

  <mat-form-field>
    <input
    matInput
    placeholder="Code postal"
    type="text"
    formControlName='zip'
    >
  </mat-form-field>
  <div *ngIf="validationHomeForm.get('zip').errors && !validationHomeForm.get('zip').pristine" class="error">
    <div [hidden]="!validationHomeForm.get('zip').errors.required">Ce champ est requis.</div>
  </div>

  <mat-form-field>
    <input
    matInput
    placeholder="Ville"
    type="text"
    formControlName='city'
    >
  </mat-form-field>
  <div *ngIf="validationHomeForm.get('city').errors && !validationHomeForm.get('city').pristine" class="error">
    <div [hidden]="!validationHomeForm.get('city').errors.required">Ce champ est requis.</div>
  </div>

  <mat-form-field>
    <input
    matInput
    placeholder="Nombre d'adulte"
    type="number"
    formControlName='adult_nbr'
    >
  </mat-form-field>
  <div *ngIf="validationHomeForm.get('adult_nbr').errors && !validationHomeForm.get('adult_nbr').pristine" class="error">
    <div [hidden]="!validationHomeForm.get('adult_nbr').errors.required">Ce champ est requis.</div>
  </div>

  <mat-form-field>
    <input
    matInput
    placeholder="Nombre d'enfant"
    type="number"
    formControlName='child_nbr'
    >
  </mat-form-field>
  <div *ngIf="validationHomeForm.get('child_nbr').errors && !validationHomeForm.get('child_nbr').pristine" class="error">
    <div [hidden]="!validationHomeForm.get('child_nbr').errors.required">Ce champ est requis.</div>
  </div>

</form>

<div class="container">
  <button mat-flat-button type="submit" (click)="completeHome()" [disabled]="!validationHomeForm.valid && !validationUserForm.valid">
    Complêtez votre inscription
  </button>
</div>
