.container{
  width: 100vw;
  height: 53vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
}
.right_page, .description{
  width: 45%;
  height: 80%;
}
.description{
  background-color: #ffffaa;
  text-align: center;
}
.icones{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  img{
    width: 50px;
    height: 50px;
  }
}
h1{
  font-size: 5vw;
  color: #55a03c;
}
.date{
  font-weight: 600;
}
.contact p{
  margin-bottom: 10%;
}
.construction{
  border: 2px solid #ffffaa;
  color: white;
  background-color: #55a03c;
  font-weight: 600;
}
@media screen and (max-width:450px){
  .container{
    display: flex;
    flex-direction: column;
    height: 96vh;
    font-size: 3vh;
    width: auto;
    h1{
      font-size: 7vh;
    }
    .right_page{
      display: none;
    }
    .description{
      width: 100%;
      height: 100%;
      p{
        line-height: 2em;
      }
    }
  }
    .evolution{
      display: block;
      margin-top: 10%;
    }
  .icones img{
      width: 30px;
      height: 30px;
    }
}

