<form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
  <div class="example-container boxForm">
    <p class="top">Inscription</p>
    <mat-form-field>
      <input
      matInput
      placeholder="Nom"
      type="text"
      formControlName='lastname'
      >
    </mat-form-field>

    <div *ngIf="signUpForm.get('lastname').errors && !signUpForm.get('lastname').pristine" class="error">
      <div [hidden]="!signUpForm.get('lastname').errors.required">Ce champ est requis.</div>
    </div>

    <mat-form-field>
      <input
      matInput
      placeholder="prénom"
      type="text"
      formControlName='firstname'
      >
    </mat-form-field>

    <div *ngIf="signUpForm.get('firstname').errors && !signUpForm.get('firstname').pristine" class="error">
      <div [hidden]="!signUpForm.get('firstname').errors.required">Ce champ est requis.</div>
    </div>

    <mat-form-field>
      <input
      matInput
      placeholder="Date de naissance"
      type="date"
      formControlName='birth_date'
      >
    </mat-form-field>

    <div *ngIf="signUpForm.get('birth_date').errors && !signUpForm.get('birth_date').pristine" class="error">
      <div [hidden]="!signUpForm.get('birth_date').errors.required">Ce champ est requis.</div>
    </div>

    <mat-form-field>
      <input
      matInput
      placeholder="Email"
      type="text"
      formControlName='email'
      />
    </mat-form-field>

    <div *ngIf="signUpForm.get('email').errors && !signUpForm.get('email').pristine" class="error">
      <div [hidden]="!signUpForm.get('email').errors.required">Ce champ est requis.</div>
      <div [hidden]="!signUpForm.get('email').invalid">Votre email est invalide.</div>
    </div>

    <mat-form-field>
      <input
      matInput
      placeholder="Mot de passe"
      type="password"
      formControlName='password'
      >
    </mat-form-field>

    <div *ngIf="signUpForm.get('password').errors && !signUpForm.get('password').pristine" class="error">
      <div [hidden]="!signUpForm.get('password').errors.required">Ce champ est requis.</div>
    </div>

    <div class="container">
      <button mat-flat-button type="submit" [disabled]="!signUpForm.valid">
        S'inscrire
      </button>
    </div>
    <p>
      <a routerLink="/connexion">Déjà inscrit ?</a>
    </p>
  </div>
</form>
