

<form [formGroup]="signInForm" (ngSubmit)="userConnexion()">
  <div class="example-container boxForm">
    <div class="imgContainer">
      <button mat-flat-button class='switch' type="button">Connexion</button>
      <button mat-flat-button class='switch'(click)='goToSignUp()'>S'inscrire</button>
   </div>
    <mat-form-field>
      <input
        matInput
        placeholder="Identifiant"
        type="text"
        name="login"
        formControlName='email'
      />
    </mat-form-field>
    <div *ngIf="signInForm.get('email').errors && !signInForm.get('email').pristine" class="error">
      <div [hidden]="!signInForm.get('email').errors.required">Ce champ est requis.</div>
      <div [hidden]="!signInForm.get('email').invalid">Votre email est invalide.</div>
    </div>

    <mat-form-field>
      <input
        matInput
        placeholder="Mot de passe"
        type="password"
        formControlName="password"
      >

    </mat-form-field>
    <div *ngIf="signInForm.get('password').errors && !signInForm.get('password').pristine" class="error">
      <div [hidden]="!signInForm.get('password').errors.required">Ce champ est requis.</div>
    </div>

    <div class="container">
        <button mat-flat-button >
           Annuler
          </button>
          <button mat-flat-button type="submit">   <!--  [disabled]="!signInForm.valid"> -->
          Se connecter
      </button>
    </div>
  </div>
</form>
