.footer{
  background-color: #F9C400;
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .logo-footer{
    width: 20%;
    img{
      width: 75px;
      height: 75px;
      border-radius: 50%;
    }
  }

  .footer-navbar{
    width: 20%;
    list-style : none;
    margin: -10%;
    a{
      text-decoration: none;
      color: black;
    }
  }

  .partners-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width:60%;
    .partners{
      display: flex;
      text-align: center;
      justify-content: space-evenly;
      img{
        height: 75px;
        border-radius: 50%;
        margin-left: 2px;
        margin-right: 2px;
      }
    }
  }

  li{
    list-style: none;
  }
}

@media (max-width: 400px){
  .footer{
    flex-direction: column;
    height: 70%;

    .logo-footer{
      display: none;
    }
    .footer-navbar{
      margin: 0;
      width: 40%;
      text-align: center;
    }
    .partners{
      flex-wrap: wrap;

      img{
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
        margin-left: 2px;
        margin-right: 2px;
      }
    }
  }
}
