<div id="footer"class="footer">
  <div class="logo-footer">
      <img src="../../../../assets/images/Logo 2.png" alt="Logo de la fumainerie">
  </div>
  <div class="footer-navbar">
    <ul>
      <li><a routerLink="/accueil" fragment="projet">Le projet</a></li>
      <li><a routerLink="/accueil" fragment="gouvernance">La Gouvernance</a></li>
      <li><a routerLink="/accueil" fragment="news">Les actualités</a></li>
      <li><a routerLink="/accueil" fragment="ressources">Ressources Documentaires</a></li>
    </ul>
  </div>
  <div class="partners-container">
    <div class="partners">
      <div *ngFor="let partner of partners">
        <div class="partner">
          <img src="{{partner.img}}" alt="image-partenaire">
        </div>
      </div>
    </div>
  </div>
</div>
