
.container{
  height: 52vh;
  width: 100vw;
  display: flex;
  padding: 1vh;
  align-items: center;
  justify-content: space-around;
}

.fauxCaroussel{
  width: 45vw;
  height: 52vh;
  background-color: white;
  padding: 1vh;
}

.section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  box-shadow: none;
  .texte{
    width: 100%;
  }
}

h1{
  font-weight: 600;
  font-size: 4rem;
}

.leftSide{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  .mat-card {
    background-color: #FFD745 ;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0px;
  }
}

.intro{
  width: 40vw;
}

mat-tab-group{
  overflow: scroll;
}

.logo-fb {
  width: 60px;
  height: 60px;
}

// parallax begin
.parallax {
  background-image: url("../../../../assets/images/parallax-8.jpg");

  /* Full height */
  height: 52vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
// parallax end
