<div class="parallax">
  <div class="container">
    <div class="leftSide">
      <mat-card>
        <h1>Bienvenue à La Fumainerie</h1>
        <div class="intro">
          <p>"FUMAIN n. m. (du latin fimus, fumier ; humanus, humain). Sous-produit du système digestif humain valorisé à des fins agricoles.<br><br>
            La Fumainerie, association loi 1901 créée par un collectif de citoyens bordelais, a pour ambition d’appuyer le développement d’un système d’assainissement plus
            écologique par la promotion, la construction et l’expérimentation d’un réseau de collecte et de valorisation des « déchets » de toilettes sèches chez les
            particuliers en ville."
          </p>
        </div>
      </mat-card>
    </div>

    <div class="rightSide"  color="primary" >
      <mat-tab-group  color="primary" dynamicHeight mat-stretch-tabs style="height: calc(100% - 64px); min-height: calc(100% - 64px);"
      class="fauxCaroussel mat-elevation-z4">

      <mat-tab label="Facebook">
        <div class="section mat-elevation-z4">
          <div class="texte">
            <h4>Récompenses</h4>
            <p>
              <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fbordeauxmetropole%2Fvideos%2F4217251351671678%2F&width=500&show_text=false&height=280&appId" target="_blank">Prix de l'innovation 2019. Nous en sommes très fiers</a>
            </p>
          </div>

          <div>
            <a href="https://www.facebook.com/lafumaineriebordeaux/?redirect=false" target="_blank">
              <img class="logo-fb" src="./../../../../assets/icones/facebook.png" alt="logo" >
            </a>
          </div>
        </div>
      </mat-tab>

      <mat-tab   label="Les dernières actus">
        <div class="section mat-elevation-z4" *ngFor="let item of news">
          <div class="texte">
            <h4>{{item.title}}</h4>
            <a href="{{item.link}}" target="_blank"><p>{{item.description}}</p></a>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Témoignages">
        <div class="section mat-elevation-z4" *ngFor="let item of witness">
          <div class="texte">
            <h4>{{item.firstname}} </h4>
            <p>{{item.description}}</p>
          </div>
        </div>
      </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
