@import './../../../../assets/css/fumainerie-theme.scss';

.container{
  height: 52vh;
  width: 100vw;
  display: flex;
  padding: 1vh;
  align-items: center;
  justify-content: space-around;
}
p {
  text-align: justify;
}

.fauxCaroussel{
  width: 45vw;
  height: 52vh;
  background-color: white;
  padding: 1vh;
}

p {
  text-align: justify;
}

.section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  box-shadow: none;
  .texte{
    width: 100%;
  }
}

h1{
  font-weight: 600;
  font-size: 4rem;
}

.leftSide{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  .mat-card {
    background-color: $primary100 ;
    box-shadow: $box-shadow;
    border-radius: 0px;
  }
}

.intro{
  width: 40vw;
}

mat-tab-group{
  overflow: scroll;
}

.logo-fb {
  width: 60px;
  height: 60px;
}

// parallax begin
.parallax {
  background-image: url("../../../../assets/images/parallax-8.jpg");

  /* Full height */
  height: 52vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
// parallax end
@media only screen and (max-device-width: 480px) {
  .container{
    flex-direction: column;
    justify-content: flex-start;
  }
  h1{
    font-size: $font-size-responsive-title;
  }
  .mat-card{
    width: 90vw;
  }
  p{
    font-size: $font-size-responsive;
    width: 80vw;
  }
  .rightSide{
    display: none;
  }
}
