<div class="container">
  <div class="leftSide">
    <mat-card>
      <h1>Bienvenue à la fumainerie</h1>
      <div class="intro">
        <p>Et si se libérer du tout-à-l'égout était l'une des solutions pour préserver notre ressource en eau? <br><br>
          Pour vous en convaincre, La Fumainerie déploie - sur Bordeaux - le premier réseau français de sanitaires
          écologiques adaptés à la ville!
        </p>
      </div>
    </mat-card>
  </div>
  
  <div class="rightSide">
    <mat-tab-group dynamicHeight mat-stretch-tabs style="height: calc(100% - 64px); min-height: calc(100% - 64px);"
    class="fauxCaroussel mat-elevation-z4">
    <!-- <mat-tab label="Facebook">
      <div class="section mat-elevation-z4">
        <div class="texte">
          <h4>Recompenses</h4>
          <p>Prix de l'innovation 2019. Nous en sommes très fiers</p>
        </div>
        <div><img src="http://via.placeholder.com/60x60" alt="placeholder"></div>
      </div>
    </mat-tab> -->
    <!-- ****** -->
    <mat-tab label="Facebook2">
      <div class="section mat-elevation-z4">
        <div class="texte">
          <h4>Recompenses</h4>
          <p>Prix de l'innovation 2019. Nous en sommes très fiers</p>
        </div>

        <div>
          <a href="https://www.facebook.com/lafumaineriebordeaux/?__tn__=%3C-R&eid=ARD7OQ0i1rI7qqcUNGB--8u6XBHX9MXT-eDui9FpOgGvDmnnawwTqgMmj1aEHdUaeV2UKqv-uvhl5Bmm&hc_ref=ARQ9cOJ4yRGa-q9C7MAbvdMkZ8n7p7AT5ZGTDebaxJTXpuZLFfckYzYgVkoje-BIVgo&__xts__[0]=68.ARDhUZ2pF7xKaWYrD113B3tQFfu7PS9mnfvOH4FJpF8gOLwx0Em8XakdbeiTwOxWsv0_OhvEmbVgwCzpepm3W2pFFBjGJ1kuV2a6XaDzUllyo0lJ65gpjlQpVRg1TiTpq-1ercgsbD8yeHQRuqtN-LqMwSItrJIOCUI6VPWQuYmdoVh3qRELstLMD7BAe8C_pgEFvKKQrr6GeVpfYovWoaq2Pi3hYgDH0y_s-uBgG3FdzPAW-l9BeXzN4pD_9dlnPTErdwh9UX8lYU6NVc-MGKrmeYHbuhsjd4HQF1PLshtg2ueUOs0skLzioiCo72CAj4eZx9osqdTdU4apJE1BQFSyDh9a">
            <img class="logo-fb" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-1/p480x480/57377311_1700823886883838_3629928903415431168_n.jpg?_nc_cat=101&_nc_ohc=qoprKSAJv00AQlJDSmtxWDKB90l4XrOW28-TB_M-Q7hu2e5NZe4yUXvBw&_nc_ht=scontent-cdt1-1.xx&oh=e1a1195ee80c7baac52fa25ccb028c05&oe=5EB21ABB" alt="logo" >
          </a>
        </div>
      </div>
    </mat-tab>
    
    <!-- ******* -->
    
    <mat-tab label="Les dernières actus">
      <div class="section mat-elevation-z4">
        <div class="texte">
          <h4>Démarrage</h4>
          <p>dévut de l'expérimentation avec nos 35 familles.</p>
        </div>
        <div><img src="http://via.placeholder.com/60x60" alt="placeholder"></div>
      </div>
    </mat-tab>
    
    <mat-tab label="Témoignages">
      <div class="section mat-elevation-z4" *ngFor="let item of witness">
        <div class="texte">
          <h4>{{item.username}} </h4>
          <p>{{item.description}}</p>
        </div>
        <div>
          <img src="http://via.placeholder.com/60x60" alt="placeholder">
        </div>
      </div>
    </mat-tab>
    
  </mat-tab-group>
</div>


</div>
