.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  mat-form-field{
    width: 80vw;
  }
}
.document{
  border-bottom: 1px solid black;
  width: 80vw;
}
ul{
  padding-inline-start: 0px;
  margin: 0px;
}
mat-label{
  font-size: 1.5em;
}
.contentDocument{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list_documents{
  height: 50vh;
  overflow: scroll;
}
