h2{
  text-align: center;
}
.popup{
  width: 100%;
  border-radius: 30px;

}
.forms-container{
  display: flex;
  align-items: center;
  height: 60%;

}

.form-contact{
  width: 50%;

  p{
    text-align: center;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mat-form-field{
    width: 70%;
  }
  textarea{
    resize: none;
  }
}

.form-newsletter{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .mat-form-field{
    width: 60%;
  }
  p{
    text-align: center;;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;

    button{
      background-color: rgb(255, 192, 0);
      width: 20%;
      align-self: center;
    }
  }
}
@media (max-width: 400px){
  .forms-container{
    flex-direction: column;
    justify-content: space-evenly;


    .form-newsletter{

      .mat-form-field{
        width: 150%;
      }
      button{
        width: auto;
      }
    }

  }

}
