@import './../../../../assets/css/fumainerie-theme.scss';

.body-contact {
  height: 30vh;
}

span{
  text-decoration: underline;
}

.popup{
  width: 100%;
  border-radius: 30px;
}
.forms-container{
  display: flex;
  align-items: center;
}

.form-contact{
  width: 50%;
  p{
    text-align: center;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-newsletter{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .mat-form-field{
    width: 60%;
  }

  p{
    text-align: center;;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
      background-color: $primary60;
      width: 20%;
      align-self: center;
    }
  }
}

@media (max-width: 400px){
  .body-contact{
    text-align: center;
    h2{
    font-size: $font-size-responsive-title;
    margin: auto;
  }
}
  .forms-container{
    font-size: $font-size-responsive;
    flex-direction: column;
    justify-content: space-evenly;
    .form-newsletter{
      .mat-form-field{
        width: 150%;
      }

      button{
        width: auto;
      }
    }
  }
}

