<h2>Nous contacter</h2>

<div class="forms-container">

  <div class="form-contact">

    <p>Téléphone : 06 31 19 55 74</p>
    <p>Email : lafumainerie@zaclys.net</p>

    <!-- <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline">
        <mat-label>Email *</mat-label>
        <input formControlName="email" matInput placeholder="">
        <div *ngIf="contactForm.get('email').errors && !contactForm.get('email').pristine" class="error">
          <div [hidden]="!contactForm.get('email').invalid">L'email n'est pas valide.</div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="outline" class="contact-textarea">
        <mat-label>Message *</mat-label>
        <textarea formControlName="message" matInput placeholder="Dites-nous tout."></textarea>
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]=!contactForm.valid>Envoyer</button>
    </form> -->

  </div>

  <div class="form-newsletter">

    <p>S'abonner à notre newsletter</p>
    <div class="popup" *ngIf="statusValidationNewsletterPopUp != false" >
      <p>Abonnement confirmé !</p>
    </div>
    <form [formGroup]="newsForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Email *</mat-label>
        <input formControlName="email" matInput placeholder="">
        <div *ngIf="newsForm.get('email').errors && !newsForm.get('email').pristine" class="error">
          <div [hidden]="!newsForm.get('email').invalid">L'email n'est pas valide.</div>
        </div>
      </mat-form-field>
      <button mat-raised-button type="submit" [disabled]=!newsForm.valid>S'abonner</button>
    </form>
  </div>

</div>
