<div class="container">
  <div class="leftSide">
    <h1>Bienvenue à la fumainerie</h1>

  </div>

  <div class="rightSide">
    <mat-tab-group dynamicHeight mat-stretch-tabs  style="height: calc(100% - 64px); min-height: calc(100% - 64px);" class="fauxCaroussel mat-elevation-z4">


      <mat-tab label="Témoignages">
        <div class="section mat-elevation-z4">
          <div class="texte">
            <h4>Simple et pratique</h4>
            <p>Avoir un impact positif sur l'environnement, grace a des gestes du quotidien. Merci La fumainerie</p>
          </div>
          <div><img src="http://via.placeholder.com/60x60" alt="placeholder"></div>
        </div>
        <div class="section mat-elevation-z4">
            <div class="texte">
              <h4>Super!</h4>
              <p>Je suis ravi de cette expérience. Je recommande sans probleme</p>
            </div>
            <div><img src="http://via.placeholder.com/60x60" alt="placeholder"></div>
          </div>
      </mat-tab>
    </mat-tab-group>

  </div>


</div>
