.section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  .texte{
    width: 100%;
  }
}

mat-tab-group{
  overflow: scroll;
  max-height: calc(100% - 64px);
  min-height: calc(100% - 64px);
  width: 100%;

}

