<div class="menu-responsive">
  <app-burger-menu></app-burger-menu>
</div>
<div class="navvbar">
  <div class="logo">
    <img src="../../../../assets/images/image_accueil.png" alt="Logo de la fumainerie">
  </div>
  <div class="rightSide">
    <div class="definition">
      <p>"FUMAIN n. m. (du latin fimus, fumier ; humanus, humain). Sous-produit du système digestif humain valorisé à des fins agricoles.<br><br>
      </p>
    </div>
    <div>
      <ul>
        <a routerLink="/accueil" fragment="projet"><li>Le projet</li></a>
        <a routerLink="/accueil" fragment="gouvernance"><li>La gouvernance</li></a>
        <a routerLink="/accueil" fragment="news"><li>Les actualités</li></a>
        <a routerLink="/accueil" fragment="ressources"><li>Ressources documentaires</li></a>
        <a routerLink="/accueil" fragment="contact"><li>Contactez-nous</li></a>
        <a routerLink="/connexion"><button>Se Connecter</button></a>
      </ul>
    </div>
  </div>

</div>
