<!-- ngClass conditional parallax view -->
<div [ngClass]="isParallaxEnable ? 'parallax' : ''" >
  <div class="container" id="ressources">
    <h2 class="title">Ressources documentaires</h2>

    <div class="recherche">
      <mat-form-field appearance="outline">
        <mat-label>Rechercher un document</mat-label>
        <input type="search" matInput [(ngModel)]="searchWord" (keydown.enter)="search(searchWord)">
        <mat-icon (click)="search(searchWord)"

                   matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <h4  class="result" *ngIf="dataSearch?.length === 0">Il n'y a pas de résultat correspondant</h4>

    <div class="list_documents" [ngStyle]="{'background-color': connected?'white':'$primary100'}">
      <ul *ngFor="let data of dataSearch; let i = index">
        <div class="document">
          <h4>{{data.title}}</h4>
          <div class="contentDocument">
            <p>{{data.description}}</p>
            <div>
                <div class="mat-app-background basic-container">
                  <mat-slide-toggle class='admin' *ngIf="user != undefined && user.function==='admin'"[checked]="(data.status)?true:false" (change)="onChange($event, i)">Visiteurs</mat-slide-toggle>
                </div>
               <a (click)='onIdFile(i)'
                [href]="data.link | serverUrl" target="_blank"><mat-icon>cloud_download</mat-icon></a>
              <mat-icon class='admin' *ngIf="user != undefined && user.function == 'admin'" (click)='onAskDeleteFile(data.id, i)'>delete</mat-icon>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
