<div class="sidebar">
  <div class="logo-sidebar">
    <img src="../../../../assets/images/Logo 2.png" alt="Logo de la fumainerie">
  </div>

  <a routerLink="vidanges">
    <div class="onglet" routerLinkActive="is-active">
      <p>Vidanges</p>
    </div>
  </a>

  <a routerLink="documents">
    <div class="onglet" routerLinkActive="is-active">
      <p>Documents</p>
    </div>
  </a>

  <a routerLink="communication">
    <div class="onglet" routerLinkActive="is-active">
      <p>Communication</p>
    </div>
  </a>

  <a routerLink="evenements">
    <div class="onglet" routerLinkActive="is-active">
      <p>Evénements</p>
    </div>
  </a>

  <a routerLink="actualites">
    <div class="onglet" routerLinkActive="is-active">
      <p>Actualités</p>
    </div>
  </a>
</div>
