<div class="sidebar">
  <div class="logo-sidebar">
    <img src="http://img.over-blog-kiwi.com/1/19/43/61/20140817/ob_ea8c80_bousier.jpg" (click)="clickedLogo()" alt="logo">
  </div>
  <div class="onglet">
    <a routerLink="vidanges">Vidanges</a>
  </div>
  <div class="onglet">
    <a routerLink="documents">Documents</a>
  </div>
  <div class="onglet">
    <a routerLink="communication">Communication</a>
  </div>
  <div class="onglet">
    <a routerLink="evenements">Evénements</a>
  </div>
</div>

