<div class="sidebar">
  <div class="logo-sidebar">
      <img src="../../../../assets/images/Logo 2.png" alt="Logo de la fumainerie">
  </div>
  <div class="onglet">
    <a routerLink="vidanges">Vidanges</a>
  </div>
  <div class="onglet">
    <a routerLink="documents">Documents</a>
  </div>
  <div class="onglet">
    <a routerLink="communication">Communication</a>
  </div>
  <div class="onglet">
    <a routerLink="evenements">Evénements</a>
  </div>
  <div class="onglet">
    <a routerLink="actualites">Actualités</a>
  </div>
</div>
