@import './../../../../assets/css/fumainerie-theme.scss';

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vh;
  font-size: 1em;
}

.rightSide, .leftSide{
  width: 45%;
  display: flex;
  flex-direction: column;
}

.rightSide {
  background-color: white;
  box-shadow: $box-shadow;
}

.invisible{
  display: none;
}

@media (max-width: 600px){
  .container{
    flex-direction: column;
    width: 90%;
  }
  .leftSide, .rightSide {
    width:100%;
    margin-bottom: 20px;
    justify-content: center;
  }
}
