.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 3px;
  .texte{
    width: 100%;
  }
}

mat-tab-group{
  background-color: white;
  max-height: 80vh;
  width: 100%;
  border-radius: 3px;
}

.admin{
  display: flex;
  flex-direction: row;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vh;
  width: 80%;
  background-color: white;
}

.containerG{
  display: flex;
  flex-direction: column;
}

button{
  width: 80%;
  margin: auto;
  margin-top: 25px;
  padding: 8px;
}

@media (max-width: 600px){
  mat-tab-group{
    max-height: 40vh;
  }
}
