@import './../../../../assets/css/fumainerie-theme.scss';

h2 {
  padding-top: 2vh;
}
.intro{
  height: auto;
}
p {
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 2vh;
  box-shadow: $box-shadow;
  border-radius: $br;
  text-align: justify;
  margin-bottom: 20px;
}

.carousel-item{
  width: 90%;
  position: relative;
}
.mat-parent {
  margin: auto;
  height: 60vh;
  width: 90%;
}

.mat-parent-small {
  display: none;
}

// parallax begin
.parallax {
  background-image: url("../../../../assets/images/parallax-6.jpg");

  /* Full height */
  height: auto;
  padding-bottom: 20px ;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media  (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;

  }
}
// parallax end

/* for ipad and other lage tabs */
@media (max-width: 768px) {
  .mat-parent-small{
    display: block;
  }
  .mat-parent{
    display: none;
    margin: auto;
  }

  .mat-parent-small {
    margin-top: 19%;
    width: 96%;
    position: relative;
    height: 660px;
    padding-bottom: 10%;
    text-align: center;
  }
  .mat-card{
    margin-top:10px;
    margin-right:auto;
    margin-left:auto;
    width: 100%;
    max-height: 10px;
  }
}

/*for mobile devices*/
@media (max-width:991px) {
 .carousel-container{
   display: none;
 }
}

