@import './../../../../../assets/css/fumainerie-theme.scss';


.draining-non-traitee {
  display: flex;
}
.ongoing, .accepted {
  background-color: white;
  box-shadow: $box-shadow;
  width: 80%;
  margin-left: 10%;
  padding: 3vh;
}

.info_client {
  display: flex;
  justify-content: space-between;

}

button {
  padding: 8px;
  background-color: $primary100;
  border-radius: 3px;
  margin: 5px 0px;
}

mat-radio-group{
 display: flex;
 flex-direction: column;
}

.valide {
  display: flex;
  justify-content: center;
}
