@import './../../../../assets/css/fumainerie-theme.scss';

.body-news {
  height: 85vh;
  width: 100vw;

  .news-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    iframe, .fb-page {
      box-shadow: $box-shadow;
      border-radius: $br;
    }
    .fb-link{
      display: none;
    }
  }
}
@media only screen and (max-device-width: 480px){
  .body-news{
    height: 60vh;
  }
  .news-container{
    flex-direction: column;
    h2{
      text-align: center;
    }
    iframe{
      width: 90%;
      margin: auto;
    }
    .fb-page{
      display: none;
    }
    .fb-link{
      display: initial;
    }
  }

}
