form{
  margin-top: 5vh;
}
.example-container {
  margin-top: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 50px 0 50px 0;
  border-radius: 3px;
  width: 80%;
  margin: auto;
}

.example-container > * {
  width: 80%;
  margin: auto;
}

button {
  color: black;
  background-color: #F9C400;
  width: 80px;
  margin: 30px 5px 0 5px;
}

.imgContainer {
  margin-right: 50px;
  margin-left: auto;
}

img {
  float: right;
  width: 18px;
}
