@import './../../../../assets/css/fumainerie-theme.scss';

.contain{
  height: 52vh;
  width: 100vw;
  display: flex;
  padding: 1vh;
  align-items: center;
  justify-content: space-around;
}

p {
  text-align: justify;
}

.fauxCaroussel{
  width: 45vw;
  max-height: 45vh;
  background-color: white;
  padding: 1vh;
}

.section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  box-shadow: none;
  .texte{
    width: 100%;
  }
}

h1{
  font-weight: 600;
  font-size: 3rem;
}

.leftSide{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  .mat-card {
    background-color: $primary100 ;
    box-shadow: $box-shadow;
    border-radius: 0px;
  }
}

.intro{
  width: 40vw;
  max-height: 35vh;
  overflow: auto;
}

mat-tab-group{
  overflow: scroll;
}

// parallax begin
.parallax {
  background-image: url("../../../../assets/images/parallax-8.jpg");

  /* Full height */
  height: 52vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
// parallax end

  @media (max-device-width: 480px) {
    .container{
      flex-direction: column;
      justify-content: flex-start;
    }
    h1{
      font-size: $font-size-responsive-title;
    }
    .mat-card{
      width: 90vw;
      .intro{
        width: 100%;
      }
    }
    p{
      font-size: $font-size-responsive;
      width: 100%;
    }
    .mat-tab-group{
      height: 0;
    }
    .mat-tab-group{
      display: none;
    }
    .parallax{
      height: 35vh;
    }
    .contain{
      height: auto;
      justify-content: center;
    }
  }
