
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import './assets/Css/custom-theme.scss';
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fumainerie-angular-primary: mat-palette($mat-amber);
$fumainerie-angular-accent: mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$fumainerie-angular-warn: mat-palette($mat-amber);

// Create the theme object (a Sass map containing all of the palettes).
$fumainerie-angular-theme: mat-light-theme($fumainerie-angular-primary, $fumainerie-angular-accent, $fumainerie-angular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($fumainerie-angular-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.carousel-control.left,.carousel-control.right {
  background-image: none;
}

.yellowButton{
  background-color: #F9C400;
  margin-top: 50px;
  padding: 20px;
}

.carousel-indicators {
  display:none
}

mat-icon, mat-slide-toggle, a {
  color: #5C08A8;
}
a:hover {
  color: #8740C7;
}
.mat-tab-label-content {
  color: #8740C7;
}
mat-icon:hover{
  cursor: pointer;
}

p{
  line-height: 3vh;
}

h2{
  margin-left: 10vw;
}

