<form [formGroup]="drainingForm">
  <mat-form-field class="example-full-width">
    <input matInput formControlName="comments" placeholder="Choisissez une date">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput formControlName="session_date" placeholder="Choisissez une date">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-slide-toggle formControlName="done_draining">Effectué</mat-slide-toggle>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput formControlName="session_date" placeholder="Choisissez une date">
  </mat-form-field>


</form>

