.body-projet{
  height: 68vh;
  width: 100vw;

  .projet-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    p, img {
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }

    p{
      background-color: #FFD745;
      width: 45vw;
      padding: 2vh;
    }

    img{
      width: 40vw;
    }
  }
}
