@import './../../../../assets/Css/fumainerie-theme.scss';

.body-projet{
  height: 68vh;
  width: 100vw;

  .projet-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    p, img {
      box-shadow: $box-shadow;
    }

    p{
      background-color: $primary100;
      width: 45vw;
      padding: 2vh;
    }

    img{
      width: 40vw;
    }
  }
}
