.body-projet{
  height: 100%;
  width: 100%;
  .projet-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: justify;

    h2{
      text-align: center;
    }
    .projet-texte{
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    img{
      height: 90%;
      width: 40%;
    }
  }
}
