<div class="container-global">

  <div class="menu-responsiv">
    <app-burger-menu></app-burger-menu>
  </div>

  <div class="page-container">
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <div class="dashboard-container">
      <div class="navbar">


        <div class="navvbar">
          <div class="account">
          <p>{{user.firstname}}</p>
            <p></p>
          </div>
        </div>
      </div>


      <div class="form-div" *ngIf="!accountStatus">
        <app-form-validation></app-form-validation>
      </div>
      <div class="interface-dashboard" *ngIf="accountStatus">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>
<!-- neutralisation du footer en attendant son ajustement css -->
<app-footer></app-footer>
