.navbar{
  height: 30vh;
  text-align: center;
  padding-top: 5%;
}
.dashboard-container{
  display: flex;
  height: 70vh;
  width: 100%;
  .sidebar{
    height: 100%;
    width: 20%;
    background-color: yellowgreen;

}
.interface-dashboard{
  width: 80%;
  background-color:grey;
}
}
