// import scss variable
@import './../../../assets/Css/fumainerie-theme.scss';


.menu-responsiv{
  display: none;
}
h2 {
  text-align: center;
  margin-left: 0vw;
}

.page-container{
  display: flex;
  width: 100%;
  background-image: none;
  .sidebar{
    width: 15%;
    background-color: $primary60;
  }
}

.dashboard-container{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

  .interface-dashboard{
    height: 90vh;
    width: 100%;
  }
  .form-div{
    height: 90vh;
    width: 100%;
  }
}

.navvbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 1.6em;
  align-self: flex-end;
  .account{
    display: flex;
    align-items: center;
    padding: 15px;
    text-align: center;
  }
}
.mat-icon{
  background-color: white;
  border-radius: 50%;
  position: relative;
  top: 10px;
  right: -95%;
  box-shadow:   0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14),
  0px 1px 10px 0px rgba(0, 0, 0, 0.12);;
}
.mat-icone:active{
  transform: translateY(3px);
}

ul{
  display: flex;
  flex-direction: row;
  padding-inline-start: 0px;
  height: 5vw;
  align-items: center;
  margin: 0px;
  li{
    list-style-type: none;
    margin-left: 2vw;
  }
}

.parallax {
  /* The image used */
  background-image: url("../../../assets/images/parallax-5.jpg");
}

@media (max-width: 600px){
  .menu-responsiv{
    display: block;
  }

  .navbar{
    display: none;
  }

  .sidebar{
    display: none;
  }
}
