.menu-responsiv{
  display: none;
}
.page-container{
  display: flex;
  width: 100%;
  .sidebar{
    width: 15%;
    background-color: yellowgreen;
  }
}
.navbar{
  height: 20vh;
  text-align: center;
}
.dashboard-container{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

  .interface-dashboard{
    height: 100%;
    width: 100%;
    background-color:lightblue;
  }
}
@media (max-width: 380px){
  .menu-responsiv{
    display: block;
  }
  .navbar{
    display: none;
  }
  .sidebar{
    display: none;
  }
}
