@import './../../../../assets/css/fumainerie-theme.scss';
  .body-news {
    height: 85vh;
    width: 100vw;
  }
  .news-container {
    margin:auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  iframe, .fb-page {
    box-shadow: $box-shadow;
    border-radius: $br;
    margin: 0px 10px;
    max-height: 40vh;
  }
  .fb-link{
    display: none;
    }

@media  (max-width: 1200px){
  .news-container{
    flex-direction: column;
    padding-bottom: 20px;
  }
  .body-news{
    height: auto;
  }
  .fb-page{
    margin: auto;
    margin-top: 20px;
  }
  .YT-page{
    margin-bottom: 20px;
    max-height: 400px;
  }
  .body-news{
    height: 950px;
  }
  .fb-link{
    display: none;
  }
}

@media  (max-device-width: 768px){
  .body-news{
    height: 70vh;
    padding-top: 10px;
    text-align: center;
    h2{
      margin: auto;
      font-size: $font-size-responsive-title;
    }
  }
  .news-container{
    flex-direction: column;
    h4{
      font-size: $font-size-responsive-h4;
    }
    iframe{
      width: 90%;
      margin: auto;
      margin-top: 10px;
    }
    .fb-page{
     display: none;
    }
  }
      .fb-link{

        margin-top: 10%;
      }
}
