.drainingRequest, .history{
  border: 1px solid black;
}
.dallDrainingRequestForCurrentUser, .detail{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.allDrainingForCurrentUser{
  width: 15vw;
  text-align: center;
  margin-left: 20px;
}
.allDrainingForCurrentUser:hover{
background-color: white;
border-radius: 15px;
}

