.drainingRequest, .history, .draining_non_traité, .draining_accepted, .accepted{
  border: 1px solid black;
}
.dallDrainingRequestForCurrentUser, .detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.info_client, .detail_info, form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 5%;
}
.detail_info{
  background-color: white;
}
.allDrainingForCurrentUser{
  width: 15vw;
  margin-left: 20px;
}
.allDrainingForCurrentUser:hover{
background-color: white;
border-radius: 15px;
}
.radio-button{
  margin-left: 30px;
}

// .drainingRequest, .history {
//   background-color: $primary100;
//   box-shadow: $box-shadow;
//   border-radius: $br;
//   padding: 1vh;
//   margin-bottom: 1vh;
//   border: none;
// }

// ::ng-deep .mat-focused .mat-form-field-label {
//   /*change color of label*/
//   color: $secondary2 !important;
//  }

// .mat-radio-button {
//    margin-right: 1vh;
//    margin-left: 1vh;
//  }
