<div class="container">


  <div *ngIf="drainingFormRequest" >

    <form [formGroup]="drainingFormRequest" (submit)="onSubmit(drainingFormRequest.value)">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Choisissez une date">
        <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>

      <mat-radio-group color="primary" class="example-radio-group" formControlName="slots">
        <mat-radio-button class="example-radio-button" *ngFor="let slot of slotData; let i = index" [value]="slot.id">
          {{slot.name}}
        </mat-radio-button>
      </mat-radio-group>

      <button type="submit" >Valider</button>
    </form>

    <button class="drainingEmergency">URGENCE VIDANGE</button>

  </div>

  <div class="drainingRequest">
    <h3>Demande en cours</h3>
    <p *ngIf="!allDrainingRequestByUser">
      Pas de demande en cours.
    </p>
    <div class="drainingRequestByUser" *ngFor="let draining of allDrainingRequestByUser">
      <p>{{draining.session_date | date: 'fullDate':'fr'}}</p>
      <p>{{draining.slot_id}}</p>
    </div>
  </div>

  <div class="history">
    <h3>Historique</h3>
    <p *ngIf="!allDraining">
      Pas d'historique.
    </p>

    <div *ngIf="allDraining" >
      <div class="drainingRequestByUser" *ngFor="let draining of allDraining">
          <p (click)="openDetailsDraining(draining)">{{draining.check_date | date: 'fullDate':'fr'}}</p><br>
          <div *ngIf="draining.show">
            <p>{{draining.comments}}</p>
            <p>{{draining.sawdust_delivery}}</p>
            <p>{{draining.sawdust_weight}}</p>
            <p>{{draining.weight}}</p>

          </div>
      </div>
    </div>
  </div>




</div>
